body {
  height: 100vh;
  background: url('./../img/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  #main {
    outline: 5px solid black;
    border-radius: 10px;
    height: 650px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #gameArea {
      outline: 5px solid black;
      height: 100%;
      width: 650px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .row {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .cell {
          width: 73px;
          height: 73px;
          background: rgba(255, 0, 0, 0.459);

          &.tree {
            background: url('./../img/tree.jpg');
            background-size: cover;
            background-repeat: no-repeat;
          }

          &.rock {
            background: url('./../img/rock.jpg');
            background-size: cover;
            background-repeat: no-repeat;
          }

          &.floor {
            background: url('./../img/grass.jpg');
            background-size: cover;
            background-repeat: no-repeat;
          }
        }
      }
    }

    .player {
      background: url('./../img/paper.jpeg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 300px;
      height: 100%;
      overflow: hidden;
    }
  }

  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 5em;
    }

    .params-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 200px;

      .params {
        .fighter-choice {
          display: flex;

          input[type=radio] {
            display: none;
          }
    
          .selected img {
            background-color: blue;
            border-radius: 25px;
            // border: 2px solid red;
          }
    
          label > img {
            &:hover {
              cursor: pointer;
            }
          }
        }
      }

    }

    .play-btn {
      margin-top: 50px;
      padding: 5px 20px;
    }
  }
}