@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,400;1,700&display=swap");
@font-face {
  font-family: "Nigato";
  src: url(./../fonts/Niagato.ttf) format("truetype");
}
@font-face {
  font-family: "Tokyo";
  src: url(./../fonts/Tokyo.ttf) format("truetype");
}
@font-face {
  font-family: "TokyoB";
  src: url(./../fonts/TokyoBold.ttf) format("truetype");
}
body {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Nigato";
  font-size: 10px;
}
body.game {
  background: url("./../img/env/japan_back.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
body #back-btn {
  position: absolute;
  left: 30px;
  top: 40px;
}
body #back-btn a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
  position: relative;
  padding-left: 40px;
}
body #back-btn a:hover::before {
  left: 0;
}
body #back-btn a::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 10px;
  background: url(./../img/arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
}
body #main {
  outline: 5px solid black;
  border-radius: 10px;
  height: 650px;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #main #gameArea {
  outline: 5px solid black;
  height: 100%;
  width: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
body #main #gameArea .row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
body #main #gameArea .row .cell {
  width: 73px;
  height: 73px;
  background: rgba(255, 0, 0, 0.459);
}
body #main #gameArea .row .cell.tree {
  background: url("./../img/env/tree.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body #main #gameArea .row .cell.rock {
  background: url("./../img/env/rock.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body #main #gameArea .row .cell.floor {
  background: url("./../img/env/grass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body #main #gameArea .row .cell.go-to {
  position: relative;
}
body #main #gameArea .row .cell.go-to::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 0, 0, 0.4);
}
body #main #gameArea .row .cell.fighter.move {
  position: relative;
}
body #main #gameArea .row .cell.fighter.move::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 255, 0.4);
}
body #main #gameArea .row .cell.fighter:hover {
  cursor: pointer;
}
body #main #gameArea .row .cell.fighter.noukon-l {
  background: url(./../img/fighters/noukon-l.png), url("./../img/env/grass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body #main #gameArea .row .cell.fighter.noukon-r {
  background: url(./../img/fighters/noukon-r.png), url("./../img/env/grass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body #main #gameArea .row .cell.fighter.akai-l {
  background: url(./../img/fighters/akai-l.png), url("./../img/env/grass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body #main #gameArea .row .cell.fighter.akai-r {
  background: url(./../img/fighters/akai-r.png), url("./../img/env/grass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body #main #gameArea .row .cell.weapon.katana {
  background: url(./../img/weapons/katana.png), url("./../img/env/grass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body #main #gameArea .row .cell.weapon.kusari {
  background: url(./../img/weapons/kusarigama.png), url("./../img/env/grass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body #main #gameArea .row .cell.weapon.sword1 {
  background: url(./../img/weapons/sword1.png), url("./../img/env/grass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body #main #gameArea .row .cell.weapon.sword2 {
  background: url(./../img/weapons/sword2.png), url("./../img/env/grass.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
body #main .player {
  background: url("./../img/env/paper.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 300px;
  height: 100%;
  overflow: hidden;
  padding: 0 10px;
}
body #main .player .fighter-infos .card {
  border-bottom: 3px solid black;
}
body #main .player .fighter-infos .card .fighter-name {
  margin: 0;
  font-size: 2.5rem;
  font-family: "TokyoB";
  font-weight: bolder;
  text-align: center;
}
body #main .player .fighter-infos .infos p {
  font-size: 1.5rem;
}
body #main .player .fighter-infos .infos p span {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}
body.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("./../img/env/japan_back.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
body.home h1 {
  font-size: 5rem;
  font-family: "TokyoB";
  margin: 1rem;
}
body.home .container {
  background: white;
  padding: 20px 40px;
  border-radius: 25px;
  box-shadow: 0px 0px 15px #7a7a7a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body.home .container .params-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 200px;
}
body.home .container .params-container .params {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body.home .container .params-container .params h2 {
  font-size: 3rem;
  margin: 0;
}
body.home .container .params-container .params .name {
  padding: 2rem 0;
}
body.home .container .params-container .params .name label {
  font-size: 1.5rem;
}
body.home .container .params-container .params .name input {
  border: none;
  border-bottom: 2px solid black;
  margin-left: 15px;
  padding: 5px;
  font-family: "TokyoB";
  width: 230px;
  font-size: 1rem;
}
body.home .container .params-container .params .fighter-choice {
  display: flex;
}
body.home .container .params-container .params .fighter-choice input[type=radio] {
  display: none;
}
body.home .container .params-container .params .fighter-choice .selected img {
  background: url(./../img/env/select.png);
}
body.home .container .params-container .params .fighter-choice label > img:hover {
  cursor: pointer;
}
body.home .container .play-btn {
  margin-top: 25px;
  padding: 5px 40px;
  background: white;
  border: 2px solid black;
  font-family: "Nigato";
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
}
body.home .container .play-btn:hover {
  cursor: pointer;
  padding: 5px 50px;
}

/*# sourceMappingURL=main.css.map */
