body {
  height: 100vh;
  background: url('./../img/background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;

  #main {
    outline: 5px solid black;
    border-radius: 25px;
    height: 750px;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #gameArea {
      outline: 5px solid black;
      background: url('./../img/stone-floor.jpg');
      background-size: 100%;
      background-repeat: repeat;
      height: 100%;
      width: 750px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .row {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .cell {
          width: 84px;
          height: 84px;
          background: rgba(255, 0, 0, 0.459);

          &.tree {
            background: Blue;
          }

          &.rock {
            background: grey;
          }

          &.floor {
            background: orange;
          }
        }
      }
    }

    .player {
      background: transparent;
      width: 300px;
      height: 100%;
    }
  }
}