@font-face {
  font-family: "Nigato";
  src: url(./../fonts/Niagato.ttf) format("truetype");
 }
 @font-face {
  font-family: "Tokyo";
  src: url(./../fonts/Tokyo.ttf) format("truetype");
 }
 @font-face {
  font-family: "TokyoB";
  src: url(./../fonts/TokyoBold.ttf) format("truetype");
 }
 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,400;1,700&display=swap');

body {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Nigato";
  font-size: 10px;

  &.game {
    background: url('./../img/env/japan_back.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  #back-btn {
    position: absolute;
    left: 30px;
    top: 40px;

    a {
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: none;
      color: black;
      position: relative;
      padding-left: 40px;

      &:hover {
        &::before {
          left: 0;
        }
      }
  
      &::before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 10px;
        background: url(./../img/arrow.png);
        background-size: contain;
        background-repeat: no-repeat;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  #main {
    outline: 5px solid black;
    border-radius: 10px;
    height: 650px;
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #gameArea {
      outline: 5px solid black;
      height: 100%;
      width: 650px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 1000;

      .row {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .cell {
          width: 73px;
          height: 73px;
          background: rgba(255, 0, 0, 0.459);

          &.tree {
            background: url('./../img/env/tree.jpg');
            background-size: cover;
            background-repeat: no-repeat;
          }

          &.rock {
            background: url('./../img/env/rock.jpg');
            background-size: cover;
            background-repeat: no-repeat;
          }

          &.floor {
            background: url('./../img/env/grass.jpg');
            background-size: cover;
            background-repeat: no-repeat;
          }

          &.go-to {
            position: relative;

            &:hover {
              cursor: pointer;
            }

            &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background-color: rgba(255, 0, 0, 0.4);
            }
          }

          &.fighter {
            &.move {
              position: relative;

              &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 255, 0.4);
              }
            }

            &:hover {
              cursor: pointer;
            }

            &.noukon {
              &-l {
                background: url(./../img/fighters/noukon-l.png), url('./../img/env/grass.jpg');
                background-size: cover;
                background-repeat: no-repeat;
              }
              &-r {
                background: url(./../img/fighters/noukon-r.png), url('./../img/env/grass.jpg');
                background-size: cover;
                background-repeat: no-repeat;
              }
            }
  
            &.akai {
              &-l {
                background: url(./../img/fighters/akai-l.png), url('./../img/env/grass.jpg');
                background-size: cover;
                background-repeat: no-repeat;
              }
              &-r {
                background: url(./../img/fighters/akai-r.png), url('./../img/env/grass.jpg');
                background-size: cover;
                background-repeat: no-repeat;
              }
            }
          }


          &.weapon {
            &.katana {
              background: url(./../img/weapons/katana.png), url('./../img/env/grass.jpg');
              background-size: cover;
              background-repeat: no-repeat;
            }
            &.kusari {
              background: url(./../img/weapons/kusarigama.png), url('./../img/env/grass.jpg');
              background-size: cover;
              background-repeat: no-repeat;
            }
            &.sword1 {
              background: url(./../img/weapons/sword1.png), url('./../img/env/grass.jpg');
              background-size: cover;
              background-repeat: no-repeat;
            }
            &.sword2 {
              background: url(./../img/weapons/sword2.png), url('./../img/env/grass.jpg');
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }

    .player {
      background: url('./../img/env/paper.jpeg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 300px;
      height: 100%;
      overflow: hidden;
      padding: 0 10px;

      .fighter-infos {
        .card {
          border-bottom: 3px solid black;

          .fighter-name {
            margin: 0;
            font-size: 2.5rem;
            font-family: 'TokyoB';
            font-weight: bolder;
            text-align: center;
          }
        }

        .infos {
          p {
            font-size: 1.5rem;

            span {
              font-family: 'Noto Sans', sans-serif;
              font-size: 1.2rem;
              margin-left: 0.5rem;
            }
          }
        }
      }
    }
  }

  &.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('./../img/env/japan_back.jpeg');
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
      font-size: 5rem;
      font-family: "TokyoB";
      margin: 1rem;
    }

    .container {
      background: white;
      padding: 20px 40px;
      border-radius: 25px;
      box-shadow: 0px 0px 15px rgb(122, 122, 122);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .params-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 200px;
  
        .params {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          h2 {
            font-size: 3rem;
            margin: 0;
          }

          .name {
            padding: 2rem 0;
            label {
              font-size: 1.5rem;
            }

            input {
              border: none;
              border-bottom: 2px solid black;
              margin-left: 15px;
              padding: 5px;
              font-family: "TokyoB";
              width: 230px;
              font-size: 1rem;
            }
          }

          .fighter-choice {
            display: flex;
  
            input[type=radio] {
              display: none;
            }
      
            .selected img {
              background: url(./../img/env/select.png);
            }
      
            label > img {
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
  
      }
  
      .play-btn {
        margin-top: 25px;
        padding: 5px 40px;
        background: white;
        border: 2px solid black;
        font-family: "Nigato";
        font-size: 1.5rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          cursor: pointer;
          padding: 5px 50px
        }
      }
    }

  }
}